{% extends "core/base.html" %}
{% load static %}
{% block content %}

<div class="mt-5">
    <div class="text-center">
        <img src="{% static 'core/images/OFFICIALPIC.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
    </div>
    <div class="mt-5 mx-5 text-white" style="text-align: justify;">
        <h1 class="font-weight-bold st-font mx-4">Hello,</h1>
        <div class="px-4" style="line-height: 2rem;">
            <p style="text-indent:100px;">
                Lorem <b class="text-warning">Sanya Midha</b> ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ipsa. Explicabo debitis consectetur est dolorum, reprehenderit soluta, animi mollitia reiciendis enim aspernatur eaque ratione nisi quae veniam dolorem? Cupiditate, pariatur?
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque eligendi molestiae, distinctio doloribus est officia. Possimus, corrupti <b class="text-warning">Chitkara University</b> repellendus voluptate minima quos commodi autem fuga labore expedita nulla natus earum minus!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nihil molestiae nesciunt explicabo voluptate. Repudiandae non, accusantium reiciendis provident, illo praesentium dolor enim magni sed minus nihil amet distinctio veritatis.
            </p>
        </div>
    </div>
    <div class="text-center">
        <a href="" class="btn btn-outline-warning my-3 mx-5">Hire Me</a>
        <a href="" class="btn btn-outline-info my-3">Contact</a>
    </div>

</div>

{% endblock content %}